<div class="container">

    <form class="form-signin" ng-controller="LoginCtrl" ng-submit="login(credentials)">
        <h2 class="form-signin-heading"><i class="fa fa-lock fa-3" aria-hidden="true"></i> Please sign in</h2>
        <input type="text" id="UserName" class="form-control" placeholder="Username" required autofocus ng-model="credentials.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="Password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="credentials.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->