<div class="modal fade">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Grading Team: {{model.Team.Name}} - For Project: {{model.Project.Name}}</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">Obtained Points:</label>
                    <div class="col-md-10">
                        <input type="number" ng-model="param1" min="-1" required value="{{model.Score}}" /> Current Value: {{model.Score}}<br />
                        -1 represents ungraded state, 0-to-{{model.Project.MaxScore}} (inclusive) are valid inputs. Integer input only.
                    </div>
                    <label for="GraderComment" class="col-sm-2 control-label">Grader Comments (Hidden from participant):</label>
                    <div class="col-md-10">
                        <textarea ng-model="model.GraderComment" name="GraderComment">{{model.GraderComment}}</textarea>
                    </div>
                    <div class="col-sm-10">
                        <a style="cursor:pointer" ng-click="downloadFile(model.Project.Name+'-Participant-Submission',model.RawZipSolution);"><span class="fa fa-download"></span> View Submission</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div ng-if="param1 > model.Project.MaxScore || param1 < -1" class="font-red">Score must be from -1 to {{model.Project.MaxScore}}</div>
            <button ng-disabled="param1 > model.Project.MaxScore || model.Score < -1" type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Make Submission</button>
            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
        </div>
    </div>
</div>
</div>