<div id="page-wrapper" ng-controller="DashboardCtrl as dashCtrl">
    <div class="container-fluid">
        <!-- Page Heading -->

        <div class="row">
            <div class="col-lg-12">
                <h1 ng-switch="currentUser.roleStr" class="page-header">
                    Dashboard
                    <small ng-switch-when="Admin">Admin View</small>
                    <small ng-switch-when="User">User View</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="dropdown">
                    <span>
                        <button class="btn btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                            Export Table Data
                        </button>
                    </span>
                    <span><button type="button" class="btn btn-sm btn-success" ng-click="dashCtrl.addInstanceModal()">Add an Instance</button></span>
                    <ul class="table-export dropdown-menu" table-selector="'report'" export-options="{type: 'pdf', escape: true, tableName: 'report',consoleLog:'true'  }" aria-labelledby="dropdownMenu1">
                        <li class="divider"></li>
                        <li><a style="cursor:pointer" te-option te-value="'csv'" te-param="'type'"> <i class="fa fa-file-excel-o"></i> CSV</a></li>
                        <li><a style="cursor:pointer" te-option te-value="'txt'" te-param="'type'"> <i class="fa fa-file-text"></i> TXT</a></li>
                        <li class="divider"></li>

                        <li><a style="cursor:pointer" te-option te-value="'excel'" te-param="'type'"> <i class="fa fa-file-excel-o"></i> XLS</a></li>
                        <li><a style="cursor:pointer" te-option te-value="'doc'" te-param="'type'"> <i class="fa fa-file-word-o"></i> Word</a></li>
                        <li class="divider"></li>
                        <li><a style="cursor:pointer" te-option te-value="'png'" te-param="'type'"> <i class="fa fa-file-picture-o"></i> PNG</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped export-table" id="report" name="report" ng-table="tableParams" show-filter="false">

                        <tbody ng-repeat="model in $data track by model.ID">
                            <tr class="text-center" style="font-weight:bold;vertical-align: middle;">
                                <td title="'Instance ID'" sortable="'team.lvl'">{{model.ID}}</td>
                                <td title="'Web App Name'" sortable="'InstanceType.Name'">{{model.InstanceType.Name}}</td>
                                <td title="'Default Username'" sortable="'InstanceType.SysUser'">{{model.InstanceType.SysUser}}</td>
                                <td title="'Default Password'" sortable="'school.Name'">{{model.InstanceType.SysPass}}</td>
                                <td title="'Server Location'" sortable="'LocationInstalled.Name'">{{model.LocationInstalled.LocationName}}</td>
                                <td title="'Instance URL'" sortable="'URL'"><a href="{{model.LocationInstalled.ServerURL}}{{model.URL}}">{{model.LocationInstalled.ServerURL}}{{model.URL}}</a></td>
                                <td title="'Manage'">
                                    <a style="cursor:pointer" ng-click="dashCtrl.InstanceAction(model,'resume')"><span class="fa fa-play-circle-o" style="color:green"></span> Resume</a>
                                        <a style="cursor:pointer" ng-click="dashCtrl.InstanceAction(model,'pause')"><span class="fa fa-pause-circle-o" style="color:blue"></span> Pause</a>
                                    <br />
                                        <a style="cursor:pointer;" ng-click="dashCtrl.InstanceAction(model,'stop')"><span class="fa fa-power-off" style="color:red"></span> Stop</a>
                                        <a style="cursor:pointer;" ng-click="dashCtrl.InstanceAction(model,'delete')"><span class="fa fa-times-circle" style="color:red"></span> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->