<div id="page-wrapper" ng-controller="ProjectsCtrl as proj">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects
                    <small>Participant challege problems</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="#/">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i>
                        Projects
                    </li>
                </ol>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID.</th>
                                    <th>Name</th>
                                    <th>Level</th>
                                    <th>Description</th>
                                    <th><span class="fa fa-list-ol"></span> Max Score</th>
                                    <th>Judge Instructions</th>
                                    <th>Student Instructions</th>
                                    <th>Visible</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="model in projects.list track by model.ID">
                                <tr>
                                    <td>{{model.ID}}</td>
                                    <td>{{model.Name}}</td>
                                    <td>
                                        {{levels[model.Level].Name}}
                                    </td>
                                    <td>{{model.Description}}</td>
                                    <td>{{model.MaxScore}}</td>
                                    <td><a style="cursor:pointer" ng-click="proj.downloadFile(model.Name+'Judge-Instructions',model.RawZipFileJudges);"><span class="fa fa-download"></span> Judge Instructions</a></td>
                                    <td><a style="cursor:pointer" ng-click="proj.downloadFile(model.Name+'Participant-Instructions',model.RawZipFileParticipants);"><span class="fa fa-download"></span> Participant Instructions</a></td>
                                    <td ng-switch="model.Hidden">
                                        <span ng-switch-when="true" style="color:red">Hidden</span>
                                        <span ng-switch-when="false" style="color:green">Visible</span>
                                    </td>
                                    <td><a style="cursor:pointer" ng-click="proj.editProjectModal(model)"><span class="fa fa-edit" style="color:green"></span> Edit</a> <a style="cursor:pointer;" ng-click="proj.deleteProjectModal(model)"><span class="fa fa-remove" style="color:red"></span> Delete</a></td>
                                 </tr>
                            </tbody>
                        </table>
                        <div class="text-right"><button type="button" class="btn btn-success" ng-click="proj.addProjectModal()">Add a New Project</button></div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
