<div id="page-wrapper" ng-controller="GradeSubmissionsCtrl as proj">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects
                    <small>Grade Submissions</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-pencil"></i>  Grade Submissions
                    </li>
                </ol>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" ng-table="tableParams" show-filter="false">

                        <tbody ng-repeat="model in $data track by model.Project.ID">
                            <tr>
                                <!--<td title="'ID.'" filter="{ ID: 'number'}" sortable="'ID'">{{model.Project.ID}}</td>-->
                                <td title="'Project Name'" filter="{ Name: 'text'}" sortable="'Project.Name'">{{model.Project.Name}}</td>
                                <td title="'Description'" filter="{ Description: 'text'}" sortable="'Project.Description'">{{model.Project.Description}}</td>
                                <td title="'MaxScore'" filter="{ MaxScore: 'number'}" sortable="'Project.MaxScore'">{{model.Project.MaxScore}}</td>
                                <td title="'Judge Instructions'"><a style="cursor:pointer" ng-click="proj.downloadFile(model.Project.Name+'Judge-Instructions',model.Project.RawZipFileJudges);"><span class="fa fa-download"></span> Judge Instructions</a></td>
                                
                                <td title="'Team Name'" sortable="'model.Name'">{{model.Team.Name}}</td>
                                <td title="'Team Submission'"><span class="fa fa-download font-blue"><a style="cursor:pointer" ng-click="proj.downloadFile(model.Project.Name+'Participant-Submission',model.RawZipSolution);"> Inspect Submission</a></span></td>
                                <td title="'Status'" ng-switch="model.Score == -1" sortable="'RawZipSolution'">
                                    <span ng-switch-when="true" class="fa fa-close font-red"> Not Graded</span>
                                    <div ng-switch-when="false"><span class="fa fa-check font-green"> Grade Inputted:</span> {{model.Score}}</div>
                                </td>
                                <td title="'Actions'"><a style="cursor:pointer" ng-click="proj.addSubmissionModal(model)"><span class="fa fa-upload" style="color:green"></span> Grade Solution</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
